body
{
	text-align:  center;
	background-color:  black;
	color:  #bac9b7;

	margin-left:  0px;
	margin-right:  0px;
	margin-bottom: 0px;

	max-width:  100%;
}

h2
{
	padding-top:  20px;
}

a
{
	color: #64a860;
}

img
{
	max-width: 100%;
}